<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ex-dischi-musicali</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root">

          <header>
              <div class="container">
                  <img src="logo.png" alt="logo" />
              </div>
          </header>


          <!-- Filtro genere musicale -->
          <div class="genere">
            <span>Genere selezionato: {{ filterGenre }}</span>
            <!-- <h2>filtro statico</h2>
            <select class="selezione-genere"
                    v-model="filterGenre"
                    placeholder="Seleziona un genere musicale"
                    @change="filtraArrayGenere">
              <option></option>
              <option>Pop</option>
              <option>Jazz</option>
              <option>Rock</option>
            </select> -->

            <h2>filtro dinamico</h2>
            <select class="selezione-genere"
                    v-model="filterGenre"
                    placeholder="Seleziona un genere musicale"
                    @change="filtraArrayGenere">
              <option></option>
              <option v-for="opt in listaGeneri">{{opt}}</option>
            </select>

          </div>
          <!-- /Filtro genere musicale -->

          <div class="cds-container container">

            <!-- LISTA DISCHI -->
            <div v-for="disco in selectArray()" class="cd">
              <img :src="disco.poster" alt="">
              <h3>{{disco.title}}</h3>
              <span class="author">{{disco.author}}</span>
              <span class="year">{{disco.year}}</span>
            </div>
            <!-- /LISTA DISCHI -->

          </div>

        </div>
        <!-- /Root -->


        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
